name: Label PRs

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  label:
    name: Auto-label PRs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v6
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          configuration-path: .github/labeler.yml
          sync-labels: false
